.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    vertical-align: top;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    overflow-x: auto;
    font-family: Baskerville ;
    vertical-align: top;
}

.custom-table th,
.custom-table td {
    padding: 2px;
    /* border: 1px solid #ddd; */
    text-align: center;
}

/* Add media query for mobile devices */
/* @media only screen and (max-width: 600px) {
    .custom-table {
      font-size: 14px;
    }
  } */

@media screen and (max-width: 300) {
    .table-container {
        width: unset;
        position: unset;
    }
}